/* ------------------------------ */
/*       Custom styles            */
/* ------------------------------ */
.container {
  border: 1px solid $gray-lighter;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px 1px rgba(98, 98, 98, 1);
}

.wrapper {
  margin: 2rem;
}

.search-results {
  margin-top: 2rem;
}
